language: nodejs

before_script:
  - npm install

script:
  - npm run test

deploy:
  - provider: pages
    skip_cleanup: true
    local_dir: docs/
    github_token: $GITHUB_TOKEN
    on:
      tags: true
  - provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: "kkiapay-*.tgz"
    skip_cleanup: true
    on:
      tags: true
  - provider: npm
    skip_cleanup: true
    email: "nafiouali@gmail.com"
    api_key: $NPM_TOKEN
    on:
      tags: true